// pkl/AgentConfig.pkl.sample
amends "./AgentConfig.schema.pkl"

serverAddress = "localhost:8080"
apiKey = "default-key"
remoteHosts = List(
  (RemoteHost) {
    host = "localhost"
    user = "default-user"
  }
)
